<!doctype html>

<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta viewport="device=device-width">
	<title>Ryan Poplin</title>
	<link rel="stylesheet" href="styles/reset.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/core.css">
	<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
		
	<header id="primary-header">
		<div class="primary-container">
			<h1>[ Ryan Poplin | Portfolio ]</h1>
			<nav id="primary-navigation">
				<a href="#/"><p class="nav">Home</p></a>
				<a href="#/blog"><p class="nav">Blog</p></a>
			</nav>
		</div>
	</header>
	
	<header id="secondary-header">
		<div class="primary-container">
			<div class="secondary-header-container"></div>
		</div>
	</header>
	
	<section id="primary-section">
		<div class="primary-container">
			<article class="main-content-container"></article>	
		</div>
	</section>
	
	<footer id="primary-footer">
		<div class="primary-container">
			<p id="text-editor"><code>var frontEndWebDeveloper = true;</code></p>
			<img src="images/arrow.png" alt="arrow" id="arrow-img">
		</div>
	</footer>
	
	<footer id="secondary-footer">
		<div class="primary-container">
			<p>So, you want more information about me? Awesome! I recently graduated from <a href="http://theironyard.com/education/" target="_blank" class="link-decoration"><em>The Iron Yard Academy</em></a>. There I learned the ins and outs of front end web engineering. In my free time, I'm learning how to control the MongoDB/Mongoose, Express.js, Backbone.js, and Node.js development stack.</p>
			<p>Want to talk? Here's my info:</p>
			<p>- Email: mobileupstate@gmail.com</p>
			<p>- GitHub: https://github.com/ryanpoplin</p>
		</div>
	</footer>
	
	<script type="text/template" id="secondary-header-template">
		<h2><%= heading %></h2>
		<p><%= paragraph %></p>
	</script>

	<script type="text/template" id="main-content-template">
		<a href=<%= link %> target="_blank" class="main-links"><div class="main-content">
			<h4 class="main-content-heading"><%= title %></h4>
		</div></a>
	</script>

	<script type="text/template" id="blog-content-template">
		<h3 class="blog-content-heading"><%= title %></h3>
		<p class="blog-content-paragraph"><%= content %></p>
	</script>
	
	<script src="scripts/jquery.js"></script>
	<script src="scripts/underscore.js"></script>
	<script src="scripts/backbone.js"></script>
	<script src="scripts/core.js"></script>
	<script src="scripts/models/content.js"></script>
	<script src="scripts/collections/content.js"></script>
	<script src="scripts/views/main-content.js"></script>
	<script src="scripts/views/main-content-listing.js"></script>
	<script src="scripts/router.js"></script>

</body>

</html>
