body {
	color: #404040;
    font-family: 'Open Sans Condensed', sans-serif;
}

#primary-container {
	margin: 0 auto;
	width: 800px;
}

#primary-header {
	color: #01b5b8;
	font-size: 3em;
	margin: 10px 0 10px 0;
	padding: 10px 0 20px 30px;
}

#secondary-header {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	font-size: 2.5em;
	line-height: 65px;
	margin: 10px 0 10px 0;
	padding: 10px 30px 10px 30px;
}

#primary-section {
	margin: 80px 0 80px 0;
	padding: 0 30px 0 30px;
}

#primary-footer {
	border-top: 1px solid #c0c0c0;
	color: #01b5b8;
	font-size: 1.7em;
	margin: 20px 0 0 0;
	padding: 20px 30px 0 30px;
}

#contentinfo {
	display: inline;
}

#text-editor {
	background: #131313;
	border-radius: 5px;
	color: #01b5b8;
	padding: 3px 10px 11px 10px;
	text-align: center;
}

@media (max-width: 830px) {

	#primary-container {
		width: 500px;
	}

	#primary-header {
		font-size: 1.8em;
		margin: 10px 0 10px 0;
		padding: 10px 0 20px 30px;
	}

	#secondary-header {
		font-size: 1.5em;
		line-height: 45px;
		margin: 10px 0 10px 0;
		padding: 10px 30px 10px 30px;
	}

	#primary-section {
		margin: 20px 0 20px 0;
		padding: 0 30px 0 30px;
	}
	
	#primary-footer {
		font-size: 1.3em;
		margin: 80px 0 80px 0;
		padding: 20px 30px 0 30px;
	}
	
	#text-editor {
		padding: 3px 10px 11px 10px;
	}

}

@media (max-width: 530px) {

	#primary-container {
		width: 100%;
	}

	#primary-header {
		font-size: 1.2em;
		margin: 10px 0 10px 0;
		padding: 10px 0 20px 30px;
	}

	#secondary-header {
		font-size: 1.5em;
		line-height: 45px;
		margin: 10px 0 10px 0;
		padding: 10px 30px 10px 30px;
	}

	#primary-section {
		margin: 20px 0 20px 0;
		padding: 0 30px 0 30px;
	}
	
	#primary-footer {
		font-size: 1.3em;
		margin: 80px 0 80px 0;
		padding: 20px 30px 0 30px;
	}
	
	#text-editor {
		padding: 3px 10px 11px 10px;
	}

}